table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

.button_padding {
  margin-left: 8px;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}